<ol class="postlist" reversed>
{% for post in postslist | reverse  %}
    <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <time datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">
            ({{ post.date | dateToFormat(meta.dateFormat) }})
        </time>
        {%- if post.data.description -%}
           <div>{{ post.data.description }}</div>
        {%- endif -%}
    </li>
{% endfor %}
</ol>
