html {
    overflow-y: scroll;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.header,
.main,
.footer {
    padding: var(--spacing);
}

.header {
    flex: none;
    color: #fff;
    background-color: var(--brand-color);
}
.header a {
    color: inherit;
}
.main {
    flex: 1 0 auto;
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 1em;
    font-size: 14px;
}

.nav-item-active {
    color: grey;
}

.footer {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #f0f0f0;
    border-top: 1px solid #d4d4d4;
}

.page-selector {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid grey;

    display: grid;

    grid-template-columns: 1fr auto 1fr;
}

.page-numbers--next {
    text-align: right;
}
